# ── Python ──────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
*.whl
*.tar.gz
.coverage
.coverage.*
htmlcov/
coverage.xml

# ── VSCode ──────────────────────────────────────────────────────────────────
.vscode/
*.code-workspace
.history/

# ── OS ──────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── Documents ───────────────────────────────────────────────────────────────
*.pdf
*.doc
*.docx
*.docm
*.dot
*.dotx
*.dotm